%h1 DC Storefront QA

%h2
  = link_to 'Start New Survey', new_data_point_path

= link_to 'See all data points', data_points_path

%h4 Other links:

= link_to 'Business Categories', business_categories_path
